body {
  background-color: rgb(243, 243, 243);
}

* {
  color: rgb(36, 36, 36);
}

#root {
  max-width: 60rem;
  min-width: 35rem;
  margin: 0 auto;
}

header {
  width: 100%;
}

header > h1 {
  padding-top: 32px;
  line-height: 1.5rem;
  font-style: normal;
}

header > h1 p {
  font-size: 1rem;
  color: rgb(121, 164, 202);
  font-weight: 500;
}
header > h1 a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(15, 32, 46);
  font-weight: bold;
}

header #main-banner {
  margin-top: 2rem;
  height: 19rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #72b9e4;
  background-image: linear-gradient(135deg, #72b9e4 0%, #9599e2 100%);
}

header #main-banner div {
  padding-top: 4rem;
  padding-left: 4rem;
}

header #main-banner div p {
  color: aliceblue;
  font-size: 1.3rem;
  line-height: 140%;
}
header #main-banner div p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}
header #main-banner div p:nth-child(2) {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

header #main-banner img {
  position: relative;
  top: -20rem;
  left: 34rem;
  width: 360px;
}

header #main-banner div div {
  width: 5rem;
  margin-top: 1rem;
  padding: 0.6rem 0rem 0.5rem 0rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: rgb(10, 54, 80);
  background-color: rgb(255, 255, 255);
}

main {
  margin-top: 2rem;
}

main #puzzle-count {
  font-size: 1.3rem;
  font-weight: 600;
}

main table {
  margin-top: 1rem;
  margin-bottom: 5rem;
  border-collapse: collapse;
  width: 100%;
  text-indent: initial;
  background-color: rgb(249, 249, 249);
}

main table thead {
}

main table thead tr {
}

main table thead tr th {
  border: 1px solid rgb(215, 226, 235);
  line-height: 3rem;
}

main table thead tr th.id {
  width: 5rem;
}

main table thead tr th.title {
}

main table thead tr th.size {
  width: 6rem;
}

main table tbody {
  display: table-row-group;
  vertical-align: middle;
}
main table tbody tr {
  height: 2.5rem;
}

main table tbody tr td.title {
  padding-left: 1.5rem;
  text-align: left;
  text-decoration: none;
}

main table tbody tr td.title a {
  text-decoration: none;
}

main table tr td {
  text-align: center;
  line-height: 2rem;
  padding: 0.5rem 0.75rem;
  font-size: rem;
  color: rgb(38, 55, 71);
  border: 1px solid rgb(215, 226, 235);
  vertical-align: inherit;
  display: table-cell;
}

footer {
}
